div.in_a_nutshell {
  border: 3px solid #a03400;
  margin-top: 8px;
  padding: 6px;
  text-align: justify;
  color: #1d3037;
  font-size: 130%;
  border-radius: 5px;
  font-weight: 600;
  font-family: Garamond;
}

div.in_a_nutshell > p {
  margin:0px;
}

div.question {
  border: 1px solid #1d3037;
  margin-top: 8px;
  padding: 6px;
  text-align: justify;
  color: #1d3037;
  font-size: 130%;
  border-radius: 5px;
  font-weight: 600;
  background-color: #2e789120;
  font-family: Garamond;
}

caption {
  color: #1e5061;
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
  border-bottom: 2px solid #1d303780 ;
}

summary {
  border-radius: 5px;
  padding: 2px;
  opacity: 30%;
}

h1 {
  display: flex;
  flex-direction: row;
  color: #1e5061;
}

h1:after {
  content: "";
  flex: 1 1;
  border-bottom: 5px solid #2e789180;
  margin: auto auto auto 2%;
}

h2 {
  border-bottom: 3px solid #2e7891;
  color: #2e7891;
}

.navbar {
  background-color: #2e7891;
}

.navbar-default .navbar-nav > li > a {
  size: 150%;
  color: #e5d7b1;
}
.navbar-default .navbar-brand {
  color: #e5d7b1;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #2e7891;
  border-color: #2e789180;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background-color: #32535e;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #32535e;
  box-shadow: inset 0 -2px 0 #32535e;
}

.btn-primary:hover, .btn-primary, .btn-primary:focus{
  color: #32535e;
  background-color: white;
  margin: auto;
  display: block;
  border: 2px solid #2e789180;
}


li[role=presentation] > a {
  color: #32535e;
}

.list-group-item.active {
  z-index: 2;
  color: #ffffff;
  background-color: #2e7891;
  border-color: #2e789180;
}

.col-xs-12, .col-sm-4, .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}

#TOC{
  width:25%;
  max-width:320px;
}

p{
  font-family: Garamond;
  font-size: 120%;
}
